<configuration>
  <packageSources>
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="AzureArtifacts" value="https://pkgs.dev.azure.com/ORG/_packaging/FEED/nuget/v3/index.json" />
    <add key="GitHub" value="https://nuget.pkg.github.com/USERNAME/index.json" />
  </packageSources>
</configuration>
